<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<link href="https://db.onlinewebfonts.com/c/2da952d097bffd198ec0f0aa3fdd6804?family=JejuHallasan" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Jomolhari&family=Joti+One&display=swap" rel="stylesheet"> 
<%- include('./partials/nav') %>

<section id="intro-foodwiz">
  <div id="foodwiz-community-text">
    <h4 class="lines-around">The Foodwiz Community</h4>
    <p>Welcome to Foodwiz! Who are we? What do we do? Are probably the top questions you are asking
      yourself about. But as the name suggests and as you may know about, given the fact that you are
      reading this now, we are a community about the KITCHEN. Foodwiz is a growing community of the lovers of
      the true. We dare with our tongue and for its members, nothing is more stronger than that passionate feeling, that exquisite sensation that you get each time a tasty arrangement of ingredients lets your palate perceive a flavor that your cells were unaware of until now.
    </p>
    <div class="foodwiz-community-title"></div>
  </div>
</section>
<div class="floating-img-1"></div>
<div class="floating-img-2"></div>
<div class="floating-img-3"></div>
<div class="floating-img-4"></div>


<!-- <main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main> -->

<% if (user) { %>
  <div class="all-recipes"><a href="/recipes">All Recipes</a></div>
  <div class="profiles"><a href="/profiles">Profiles</a></div>
<% } %>

<%- include('./partials/footer') %>
