<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<link href="https://db.onlinewebfonts.com/c/2da952d097bffd198ec0f0aa3fdd6804?family=JejuHallasan" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Jomolhari&family=Joti+One&display=swap" rel="stylesheet"> 
<script src="index.js"></script>
<%- include('./partials/nav') %>

<section id="intro-foodwiz">
  <div id="foodwiz-community-text">
    <h4 class="lines-around">The Foodwiz Community</h4>
    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  </div>
  <div id="signup-login">
    <!-- <a class="open-form-login" href="#" data-target="#signup" data-toggle="modal">Signup</a> -->
    <!-- <a class="open-form-login" href="#" data-target="#login" data-toggle="modal">Login</a> -->
    <button>Signup</button>
    <button>Login</button>
  </div>
</section>

<div class="popup">
  <div class="close-btn">&times;</div>
  <div class="form">
    <h2>Log in</h2>
    <div class="form-element">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" placeholder="Enter Email">
    </div>
    <div class="form-element">
      <label for="password">password</label>
      <input type="password" id="password" name="password" placeholder="Enter password">
    </div>
    <div class="form-element">
      <input type="checkbox" name="remember-me" id="remember-me">
      <label for="remember-me">Remember me</label>
    </div>
    <div class="form-element">
      <button>Sign in</button>
    </div>
    <div class="form-element">
      <a href="#">Forgot password?</a>
    </div>
  </div>
  <!-- <form action=""></form> -->
</div>

<!-- <div class="signup-form-container">
  <label for="show-signup-form" class="close-form-btn" title="close">x</label>
  <h1>Join the Community!</h1>
  <form action="#">
    <label>Email: </label>
    <input type="text">
    <label>Password: </label>
    <input type="password">
    <button>Signup</button>
  </form>
</div> -->


<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
