<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1><%= title %></h1>
<% recipes.forEach(recipe => { %>
  <a href="/recipes/<%= recipe._id %>"><h3><%= recipe.title %></h3></a>
<% }) %>
</section>

<%- include('../partials/footer') %>