<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/show.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Jomolhari&family=Joti+One&family=Katibeh&family=Kavoon&family=Roboto+Condensed&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/25995ada5b.js" crossorigin="anonymous"></script>
<%- include('../partials/nav') %>

<div class="show-container">

  <div class="recipe-author-links">
    <div class="recipe-container">

      <div class="title-ratings-comments">
        <h1><%= recipe.title %></h1>
        <div class="ratings-comments">
          <div class="comments-count">
            <p> (<%= recipe.comments.length %>) Comments</p>
          </div>
        </div>
      </div>

      <div class="recipe-description">
        <%- recipe.description %>
      </div>

      <div class="recipe-picture"></div>

      <div class="recipe-ingredients">
        <h3>Ingredients</h3>
        <div class="ingredient-list">
          <%- recipe.ingredients %>
        </div>
      </div>

      <div class="recipe-directions">
        <h3>Directions</h3>
        <div class="recipe-direction">
          <%- recipe.directions %>
        </div>
        
      </div>

      <div class="container-form">
        <div class="avatar"></div>
        <form action="/recipes/<%= recipe._id %>/comments" method="POST">
          <textarea class="comment-form" role="textbox" name="body" contenteditable placeholder="Enter a Comment"></textarea>
          <button type="submit">Post</button>
        </form>
      </div>

    </div>

    <div class="author-links">
      <div class="author">
        <p>Posted on <%= recipe.createdAt.toLocaleDateString() %> by <a href="/profiles/<%= recipe.author._id %>"><span><%= recipe.author.name %></span></a></p>
      </div>
      <div class="links">
        <% if (user.profile._id.equals(recipe.author._id)) { %>
          <a href="/recipes/<%= recipe._id %>/edit">Edit This Recipe</a>
        <% } %>
        <a href="/">Go Back Home</a>
        <a href="/recipes/new">Create a Recipe</a>
      </div>
      <% if (user.profile._id.equals(recipe.author._id)) { %>
        <form id="delete-form" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
          <button id="delete-recipe">Delete</button>
        </form>
      <% } %>
    </div>
  </div>

  <h3 class="comment-start">Comments</h3>

  <div class="comment-section">
    <div class="comment-card">
      <% recipe.comments.forEach(comment => { %>
        <div class="comm">
          <div class="com-author-info">
            <div class="comment-avatar">
              <img src="<%= comment.author.avatar %>" alt="<%= comment.author.name %> avatar"/>
            </div>
            <p><%= comment.author.name %></p>
          </div>
          <p><%= comment.body %></p>
        </div>
      <% }) %>
    </div>
  </div>

</div>

<%- include('../partials/footer') %>